FORMAT: 1A
HOST: https://api.vyfakturuj.cz/2.0/

# Vyfakturuj.cz API (v2)

API [Vyfakturuj.cz](https://www.vyfakturuj.cz/), verze 2.

# Základní informace

Vyfakturuj využívá REST API. Aktuálně je dostupné pouze API verze 2, starší již není možné použít.

Najdete-li v dokumentace chybu, [nahlaste nám](https://github.com/redbitcz/vyfakturuj-apiary/issues) ji prosím.
V případě nejasností nás prosím [kontaktujte](https://www.vyfakturuj.cz/kontakt/).

## Zásady

V zájmu zachování spolehlivosti a bezpečnosti prosíme dbejte na dodržení těchto zásad.

- Vždy se připojujte přes `HTTPS`, které zajišťuje bezpečnost vašich dat.
- Dbejte opatrnosti, aby se autorizační údaje (jméno a klíč) nedostaly do nepovolaných rukou.
- Pokud Váš server nezná náš SSL/TLS certifikát a odmítá se k němu připojit, **nevypínejte kontrolu certifikátu**,
ale požádejte správce vašeho serveru, aby aktualizoval v systému seznam důvěryhodných certifikátů, případně
použijte vhodný CA Bundle.

## Autorizace

Protože API pracuje s citlivými uživatelskými daty, nelze jej používat bez autorizace.

Autorizace požadavků se prování standardní [Basic access authentication](https://cs.wikipedia.org/wiki/Basic_access_authentication).
Jako přihlašovací jméno je použit e-mail uživatele, jako heslo použijte API klíč, který
získáte v [administraci API Vyfakturuj.cz](https://app.vyfakturuj.cz/nastaveni/api/).

## Příklady volání API

V následujících příkladech je použito přihlašovací jméno `user@gmail.com` a klíč `fTZ5VjopEQ`.

### cURL

Zavolání požadavku:
```shell
curl --user user@gmail.com:fTZ5VjopEQ https://api.vyfakturuj.cz/2.0/test/
```

Navrácená hodnota:
```json
{
    "method":"GET",
    "message":"Welcome in Vyfakturuj.cz",
    "date":"2018-10-09 13:42:27",
}
```

### PHP

S využitím [Vyfakturuj.cz API SDK pro PHP](https://github.com/redbitcz/vyfakturuj-api-php)

```
<?php
$vyfakturuj_api = new VyfakturujAPI('user@gmail.com', 'fTZ5VjopEQ');
$result = $vyfakturuj_api->test();
```

## Vyfakturuj + SimpleShop

Toto API je možné použít i pro náš druhý produkt [SimpleShop.cz](https://www.simpleshop.cz/). Pro správné fungování je potřeba směřovat requesty na URL:

```
https://api.simpleshop.cz/2.0/
```

# Group Faktury

## Faktury


<table>
    <tr>
        <th>Klíč</th>
        <th>Typ</th>
        <th>Popis</th>
        <th>Práva</th>
    </tr>
    <tr>
        <td>id</td>
        <td>int</td>
        <td>ID dokumentu</td>
        <td>R</td>
    </tr>
    <tr>
        <td>id_identity</td>
        <td>int</td>
        <td>ID identity</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_customer</td>
        <td>int</td>
        <td>ID zaznamu v adresáři</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_number_series</td>
        <td>int</td>
        <td>ID číselné řady</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_payment_method</td>
        <td>int</td>
        <td>ID platební metody</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_center</td>
        <td>int</td>
        <td>ID střediska</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_predkontace</td>
        <td>int</td>
        <td>ID předkontace</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_cleneniDPH</td>
        <td>int</td>
        <td>ID členění DPH</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_coupon</td>
        <td>int</td>
        <td>ID slevového kupónu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_parent</td>
        <td>int</td>
        <td>ID nadřazeného dokumentu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>type</td>
        <td>int</td>
        <td>Typ dokladu
        <blockquote>
            <code>1</code> Faktura<br>
            <code>2</code> Zálohová faktura<br>
            <code>4</code> Proforma faktura<br>
            <code>8</code> Výzva k platbě<br>
            <code>16</code> Daňový doklad<br>
            <code>32</code> Opravný daňový doklad<br>
            <code>64</code> Příjmový doklad<br>
            <code>128</code> Opravný doklad<br>
            <code>512</code> Objednávka
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>flags</td>
        <td>int</td>
        <td>Příznaky
        <blockquote>
            <code>1</code> Dokument obsahuje DPH<br>
            <code>2</code> Uhrazeno<br>
            <code>4</code> Odesláno e-mailem zákazníkovi<br>
            <code>8</code> Doklad je stornován<br>
            <code>16</code> Odeslána e-mailem zákazníkovi upomínka<br>
            <code>32</code> Přeplatek<br>
            <code>64</code> Nedoplatek<br>
            <code>256</code> Doklad byl stažen účetním<br>
            <code>4096</code> Archivováno<br>
            <code>65536</code> Doklad v MOSS
        </blockquote></td>
        <td>R</td>
    </tr>
    <tr>
        <td>tags</td>
        <td>int</td>
        <td>Použité štítky</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>eet_status</td>
        <td>int</td>
        <td>Stav EET
        <blockquote>
            <code>1</code> Nevstupuje - doklad nesplňuje podmínky pro vstup do EET<br>
            <code>2</code> Neodesílat - doklad nebude odeslán do EET<br>
            <code>4</code> K odeslání - doklad je určen k odeslání do EET<br>
            <code>8</code> Externě - záznam o tržbě evidován jiným zařízením<br>
            <code>16</code> ODESLÁNO - doklad byl odeslán do EET.<br>
            <code>32</code> CHYBA - nastala chyba při odeslání.<br>
            <code>64</code> Neodesílat - doklad nebude po uhrazení odeslán do EET
        </blockquote></td>
        <td>R</td>
    </tr>
    <tr>
        <td>eet_data</td>
        <td>array</td>
        <td>EET data
        <blockquote>
            <code>fik</code> FIK kód<br>
            <code>bkp</code> BKP kód<br>
            <code>pkp</code> PKP kód<br>
            <code>id_provoz</code> ID provozovny<br>
            <code>id_pokl</code> ID pokladny<br>
            <code>dat_trzby</code> Datum tržby<br>
            <code>rezim</code> Režim 0 - běžný, 1 - zjednodušený
        </blockquote></td>
        <td>R</td>
    </tr>
    <tr>
        <td>number</td>
        <td>string</td>
        <td>Číslo dokumentu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_created</td>
        <td>date</td>
        <td>Datum vytvoření</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_due</td>
        <td>date</td>
        <td>Datum splatnosti</td>
        <td>R</td>
    </tr>
    <tr>
        <td>date_taxable_supply</td>
        <td>date</td>
        <td>Datum zdaňitelného plnění</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_paid</td>
        <td>date</td>
        <td>Uhrazeno dne</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_reminder</td>
        <td>date</td>
        <td>Datum zaslání 1. připomínky</td>
        <td>R</td>
    </tr>
    <tr>
        <td>date_reminder_2</td>
        <td>date</td>
        <td>Datum zaslání 2. připomínky</td>
        <td>R</td>
    </tr>
    <tr>
        <td>date_reminder_3</td>
        <td>date</td>
        <td>Datum zaslání 3. připomínky</td>
        <td>R</td>
    </tr>
    <tr>
        <td>days_due</td>
        <td>int</td>
        <td>Splatnost (dny)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_IC</td>
        <td>string20</td>
        <td>Dodavatel - IČO</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_DIC</td>
        <td>string20</td>
        <td>Dodavatel - DIČ</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_IDNUM3</td>
        <td>string20</td>
        <td>Dodavatel - Třetí identifikátor firmy (např. DIČ pro SK)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_name</td>
        <td>string100</td>
        <td>Dodavatel - název firmy</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_street</td>
        <td>string50</td>
        <td>Dodavatel - ulice</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_city</td>
        <td>string50</td>
        <td>Dodavatel - město</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_zip</td>
        <td>int</td>
        <td>Dodavatel - PSČ</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_country_code</td>
        <td>string20</td>
        <td>Dodavatel - Kód země (ISO 3166-2)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_contact_name</td>
        <td>string30</td>
        <td>Dodavatel - kontaktní osoba</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_contact_tel</td>
        <td>string30</td>
        <td>Dodavatel - kontaktní telefon</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_contact_mail</td>
        <td>string30</td>
        <td>Dodavatel - kontaktní mail</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>supplier_contact_web</td>
        <td>string100</td>
        <td>Dodavatel - web</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_IC</td>
        <td>string20</td>
        <td>Odběratel - IČ, IČO, ...</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_DIC</td>
        <td>string20</td>
        <td>Odběratel - DIČ, IČ DPH, ...</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_IDNUM3</td>
        <td>string20</td>
        <td>Odběratel - Třetí identifikátor firmy (např. DIČ pro SK)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_name</td>
        <td>string100</td>
        <td>Odběratel - název firmy</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_firstname</td>
        <td>string100</td>
        <td>Odběratel - jméno</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_lastname</td>
        <td>string100</td>
        <td>Odběratel - příjmení</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_street</td>
        <td>string50</td>
        <td>Odběratel - ulice</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_city</td>
        <td>string50</td>
        <td>Odběratel - město</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_zip</td>
        <td>int</td>
        <td>Odběratel - PSČ</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_country_code</td>
        <td>string2</td>
        <td>Odběratel - kód země (ISO 3166-2)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_tel</td>
        <td>string30</td>
        <td>Odběratel - kontaktní telefon</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_company</td>
        <td>string100</td>
        <td>Odběratel - název firmy</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_firstname</td>
        <td>string100</td>
        <td>Odběratel - jméno</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_lastname</td>
        <td>string100</td>
        <td>Odběratel - příjmení</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_street</td>
        <td>string50</td>
        <td>Odběratel - ulice</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_city</td>
        <td>string50</td>
        <td>Odběratel - město</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_zip</td>
        <td>int</td>
        <td>Odběratel - PSČ</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_country_code</td>
        <td>string2</td>
        <td>Odběratel - kód země (ISO 3166-2)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>customer_delivery_tel</td>
        <td>string30</td>
        <td>Dodavatel - kontaktní telefon</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>bank_account_number</td>
        <td>string20</td>
        <td>Číslo bankovního účtu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>bank_IBAN</td>
        <td>string60</td>
        <td>Mezinárodní bankovní číslo (IBAN)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>bank_BIC</td>
        <td>string20</td>
        <td>Mezinárodní kód banky (SWIFT/BIC)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>payment_method</td>
        <td>int</td>
        <td>Způsob platby
        <blockquote>
            <code>1</code> Bankovní převod<br>
            <code>2</code> Hotovost<br>
            <code>4</code> Dobírka<br>
            <code>8</code> Kartou online<br>
            <code>128</code> PayPal<br>
            <code>16</code> Záloha<br>
            <code>32</code> Zápočet
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>calculate_vat</td>
        <td>int</td>
        <td>Výpočet DPH
        <blockquote>
            <code>1</code> Položky jsou uvedeny jako základ daně<br>
            <code>2</code> Položky mají koncovou cenu s DPH<br>
            <code>3</code> DPH je účtováno ve speciálním režimu<br>
            <code>4</code> DPH je v režimu prenesené daňové povinnosti<br>
            <code>6</code> Daň odvede zákazník<br>
            <code>5</code> Neplátce DPH
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>round_invoice</td>
        <td>int</td>
        <td>Zaokrouhlení dokumentu
        <blockquote>
            <code>1</code> Nezaokrouhlovat<br>
            <code>2</code> Zaokrouhlit (háleřové vyrovnání)
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>order_number</td>
        <td>string255</td>
        <td>ID objednávky</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>text_under_subscriber</td>
        <td>string255</td>
        <td>Text pod dodavatelem</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>text_under_customer</td>
        <td>string255</td>
        <td>Text pod odběratelem</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>text_before_items</td>
        <td>string255</td>
        <td>Text před položkami faktury</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>text_invoice_footer</td>
        <td>string255</td>
        <td>Text v patičce dokumentu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>mail_to</td>
        <td>array</td>
        <td>Emailové adresy kam bude (byl) odeslán email</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>language</td>
        <td>string</td>
        <td>Jazyková mutace faktury
        <blockquote>
            <code>cs</code> Česky<br>
            <code>sk</code> Slovensky<br>
            <code>en</code> Anglicky<br>
            <code>de</code> Německy<br>
            <code>it</code> Italsky
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>VS</td>
        <td>string10</td>
        <td>Variabilní symbol</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>KS</td>
        <td>string4</td>
        <td>Konstantní symbol</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>SS</td>
        <td>string10</td>
        <td>Specifický symbol</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>currency</td>
        <td>string3</td>
        <td>Měna (ISO 4217)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>currency_domestic</td>
        <td>string3</td>
        <td>Domácí měna</td>
        <td>R</td>
    </tr>
    <tr>
        <td>search</td>
        <td>string255</td>
        <td>String pro vyhledávání mezi fakturami</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>exchange_rate</td>
        <td>double</td>
        <td>Převodní kurz měny</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>total</td>
        <td>double</td>
        <td>Celková částka k úhradě</td>
        <td>R</td>
    </tr>
    <tr>
        <td>total_without_vat</td>
        <td>double</td>
        <td>Celková částka k úhradě bez DPH</td>
        <td>R</td>
    </tr>
    <tr>
        <td>webhook_paid</td>
        <td>string255</td>
        <td>URL která bude zavolána při úhradě dokumentu. Lze zde použít zástupné API znaky.<br/>Příklad: https://www.domena.cz/script.php?id_faktury={id}&zakaznik={customer_name}</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>simpleshop_note</td>
        <td>string255</td>
        <td>Poznámka SimpleShop</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>url_public_webpage</td>
        <td>string255</td>
        <td>URL s veřejnou stránkou dokumentu</td>
        <td>R</td>
    </tr>
    <tr>
        <td>url_online_payment</td>
        <td>string255</td>
        <td>URL pro online uhrazení dokumentu. Na této adrese je přímo platební brána.</td>
        <td>R</td>
    </tr>
    <tr>
        <td>url_download_pdf</td>
        <td>string255</td>
        <td>URL pro stažení dokumentu v PDF</td>
        <td>R</td>
    </tr>
    <tr>
        <td>url_download_pdf_no_stamp</td>
        <td>string255</td>
        <td>URL pro stažení dokumentu v PDF bez razítka</td>
        <td>R</td>
    </tr>
    <tr>
        <td>url_simpleshop_order_status</td>
        <td>string255</td>
        <td>URL pro zobrazení stavu objecnávky (pouze SimpleShop objednávky)</td>
        <td>R</td>
    </tr>
    <tr>
        <td>disable_automated_mails</td>
        <td>bool</td>
        <td>Vypne automatické zasílání e-mailu (uhrazení, upomínka)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>storno</td>
        <td>bool</td>
        <td>Stornuje doklad</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>moss</td>
        <td>bool</td>
        <td>Elektronická služba neplátci DPH</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>need_attention</td>
        <td>bool</td>
        <td>Objednávka vyžaduje pozornost</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>log</td>
        <td>array</td>
        <td>Historie objednavky</td>
        <td>R</td>
    </tr>
    <tr>
        <td>X_1</td>
        <td>string100</td>
        <td>Volitelná hodnota 1 (např. ID dokumentu ve Vašem systému)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>X_2</td>
        <td>string100</td>
        <td>Volitelná hodnota 2 (např. ID kontaktu ve Vašem systému)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>X_3</td>
        <td>string100</td>
        <td>Volitelná hodnota 3</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>X_{anything}</td>
        <td>mixed</td>
        <td>Volitelná hodnota s vlastním názvem klíče (např. X_phone)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>items (povinné)</td>
        <td>array</td>
        <td>Položky dokumentu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>related_documents</td>
        <td>array</td>
        <td>Souvisejici dokumenty</td>
        <td>R</td>
    </tr>
    <tr>
        <td>action_after_create_send_to_eet</td>
        <td>bool</td>
        <td>Akce: po vytvoření dokladu, zaslat automaticky do EET.</td>
        <td>W</td>
    </tr>
</table>

## Položky faktury

<table>
    <tr>
        <th>Klíč</th>
        <th>Typ</th>
        <th>Popis</th>
        <th>Práva</th>
    </tr>
    <tr>
        <td>quantity</td>
        <td>double</td>
        <td>Množství</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>unit</td>
        <td>string10</td>
        <td>Množstevní jednotka (ks, kg, ...)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>text (povinné)</td>
        <td>string255</td>
        <td>Text položky</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>unit_price (povinné)</td>
        <td>double</td>
        <td>Cena položky</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>vat_rate</td>
        <td>double</td>
        <td>Sazba DPH (%)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>vat_rate_type</td>
        <td>int</td>
        <td>Typ DPH
        <blockquote>
            <code>1</code> Vlastní / historická<br>
            <code>2</code> Základní<br>
            <code>4</code> Zvýšená<br>
            <code>8</code> Snížená<br>
            <code>16</code> Druhá snížená<br>
            <code>32</code> Nulová<br>
            <code>128</code> Třetí snížená
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>vat</td>
        <td>double</td>
        <td>Daň</td>
        <td>R</td>
    </tr>
    <tr>
        <td>total</td>
        <td>double</td>
        <td>Částka k úhradě</td>
        <td>R</td>
    </tr>
    <tr>
        <td>total_without_vat</td>
        <td>double</td>
        <td>Částka k úhradě bez DPH</td>
        <td>R</td>
    </tr>
    <tr>
        <td>data</td>
        <td>array</td>
        <td>Skrytá data k položce</td>
        <td>R/W</td>
    </tr>
</table>

## Daně

<table>
    <tr>
        <th>Klíč</th>
        <th>Typ</th>
        <th>Popis</th>
        <th>Práva</th>
    </tr>
    <tr>
        <td>base</td>
        <td>double</td>
        <td>Základ daně</td>
        <td>R</td>
    </tr>
    <tr>
        <td>vat</td>
        <td>double</td>
        <td>Daň</td>
        <td>R</td>
    </tr>
    <tr>
        <td>total</td>
        <td>double</td>
        <td>Celkem s DPH</td>
        <td>R</td>
    </tr>
</table>

## GET parametry při vyhledávání dokladu

<table>
    <tr>
        <th>Klíč</th>
        <th>Typ</th>
        <th>Popis</th>
        <th>Práva</th>
    </tr>
    <tr>
        <td>id_customer</td>
        <td>int</td>
        <td>ID zaznamu v adresáři</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_number_series</td>
        <td>int</td>
        <td>ID číselné řady</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_center</td>
        <td>int</td>
        <td>ID střediska</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>id_parent</td>
        <td>int</td>
        <td>ID nadřazeného dokumentu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>type</td>
        <td>int</td>
        <td>Typ dokladu
        <blockquote>
            <code>1</code> Faktura<br>
            <code>2</code> Zálohová faktura<br>
            <code>4</code> Proforma faktura<br>
            <code>8</code> Výzva k platbě<br>
            <code>16</code> Daňový doklad<br>
            <code>32</code> Opravný daňový doklad<br>
            <code>64</code> Příjmový doklad<br>
            <code>128</code> Opravný doklad<br>
            <code>512</code> Objednávka
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>flags</td>
        <td>int</td>
        <td>Příznaky
        <blockquote>
            <code>1</code> Dokument obsahuje DPH<br>
            <code>2</code> Uhrazeno<br>
            <code>4</code> Odesláno e-mailem zákazníkovi<br>
            <code>8</code> Doklad je stornován<br>
            <code>16</code> Odeslána e-mailem zákazníkovi upomínka<br>
            <code>32</code> Přeplatek<br>
            <code>64</code> Nedoplatek<br>
            <code>256</code> Doklad byl stažen účetním<br>
            <code>4096</code> Archivováno<br>
            <code>65536</code> Doklad v MOSS
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>tags</td>
        <td>int</td>
        <td>Použité štítky</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>eet_status</td>
        <td>int</td>
        <td>Stav EET
        <blockquote>
            <code>1</code> Nevstupuje - doklad nesplňuje podmínky pro vstup do EET<br>
            <code>2</code> Neodesílat - doklad nebude odeslán do EET<br>
            <code>4</code> K odeslání - doklad je určen k odeslání do EET<br>
            <code>8</code> Externě - záznam o tržbě evidován jiným zařízením<br>
            <code>16</code> ODESLÁNO - doklad byl odeslán do EET.<br>
            <code>32</code> CHYBA - nastala chyba při odeslání.<br>
            <code>64</code> Neodesílat - doklad nebude po uhrazení odeslán do EET
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>number</td>
        <td>string</td>
        <td>Číslo dokumentu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_created</td>
        <td>date</td>
        <td>Datum vytvoření</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_due</td>
        <td>date</td>
        <td>Datum splatnosti</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_taxable_supply</td>
        <td>date</td>
        <td>Datum zdaňitelného plnění</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_paid</td>
        <td>date</td>
        <td>Uhrazeno dne</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_reminder</td>
        <td>date</td>
        <td>Datum zaslání 1. připomínky</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_reminder_2</td>
        <td>date</td>
        <td>Datum zaslání 2. připomínky</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_reminder_3</td>
        <td>date</td>
        <td>Datum zaslání 3. připomínky</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>days_due</td>
        <td>int</td>
        <td>Splatnost (dny)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>days_reminder</td>
        <td>int</td>
        <td>Za jak dlouho zaslat připomínku po splatnosti (dny)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>VS</td>
        <td>string10</td>
        <td>Variabilní symbol</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>currency</td>
        <td>string5</td>
        <td>Měna (ISO 4217)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>total</td>
        <td>double</td>
        <td>Celková částka k úhradě</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>total_without_vat</td>
        <td>double</td>
        <td>Celková částka k úhradě bez DPH</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>X_1</td>
        <td>string100</td>
        <td>Volitelná hodnota 1 (např. ID dokumentu ve Vašem systému)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>X_2</td>
        <td>string100</td>
        <td>Volitelná hodnota 2 (např. ID kontaktu ve Vašem systému)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>X_3</td>
        <td>string100</td>
        <td>Volitelná hodnota 3</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_created_from</td>
        <td>date</td>
        <td>Datum vytvoření od (nelze použít v parametru filter)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>date_created_to</td>
        <td>date</td>
        <td>Datum vytvoření do (nelze použít v parametru filter)</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>rows_limit</td>
        <td>int</td>
        <td>Počet dokladů, které se mají načíst</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>rows_offset</td>
        <td>int</td>
        <td>Počet dokladů, které se mají přeskočit</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>sort</td>
        <td>string</td>
        <td>Řazení dokladů dle určitého sloupce nebo více sloupců (oddělovač je svislítko). Lze řadit vzestupně (asc) i sestupně (desc) Syntaxe {NAZEV_SLOUPCE}~{ZPUSOB_RAZENI}|{NAZEV_SLOUPCE}~{ZPUSOB_RAZENI} ...</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>filter</td>
        <td>string</td>
        <td>(BETA) Filtrování dokladů, Syntaxe {NAZEV_SLOUPCE}~{OPERATOR}~{HODNOTA}|AND|{NAZEV_SLOUPCE}~{OPERATOR}~{HODNOTA} ...</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>q</td>
        <td>string</td>
        <td>Vyhledani podle retezce</td>
        <td>R/W</td>
    </tr>
</table>

### Filtrování

<table>
    <tr>
        <td>{NAZEV_SLOUPCE}</td>
        <td>Hodnota z tabulky "GET parametry při vyhledávání dokladu"</td>
    </tr>
    <tr>
        <td>{OPERATOR}</td>
        <td>
            <ul>
                <li>LT (less than) "<"</li>
                <li>GT (greater than) ">"</li>
                <li>LTEQ (less than/equal) "<="</li>
                <li>GTEQ (greater than/equal) ">="</li>
                <li>CTSTR (contains string) "LIKE"</li>
                <li>CTBIT (contains bits) "&"</li>
                <li>EQ (equals) "="</li>
            </ul>
        </td>
    </tr>
</table>
<a href="https://github.com/redbitcz/vyfakturuj-api-php/blob/master/examples/09-invoice_search.php">Ukázka použití filtru</a>


## Vytvoření faktury [/invoice/]

### Vytvoření faktury [POST]

+ Request (application/json)

        {
            "type": 1,
            "id_payment_method": 33662,
            "customer_IC": "123456789",
            "customer_DIC": "CZ123456789",
            "customer_name": "Ukázková Firma",
            "customer_street": "Pouliční 79/C",
            "customer_city": "Praha",
            "customer_zip": "10300",
            "customer_country": "Česká republika",
            "items": [
                {
                    "text": "Stěrač na ponorku",
                    "unit_price": 990.25,
                    "vat_rate": 15
                },
                {
                    "text": "Kapalina do ostřikovačů 250 ml",
                    "unit_price": 59,
                    "vat_rate": 15
                },
                {
                    "text": "Doprava",
                    "unit_price": 0,
                    "vat_rate": 0
                }
            ]
        }

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 2032366,
                "id_identity": "0",
                "id_customer": "-1",
                "id_number_series": "28437",
                "id_payment_method": "33662",
                "id_center": "0",
                "id_predkontace": "0",
                "id_cleneniDPH": "0",
                "id_coupon": "0",
                "id_parent": "0",
                "id_eet_pokl": "0",
                "type": "1",
                "flags": "1",
                "tags": "0",
                "eet_status": "1",
                "eet_data": "",
                "number": "20210049",
                "date_created": "2021-02-10",
                "date_due": "2021-02-21",
                "date_taxable_supply": "2021-02-10",
                "date_paid": "0000-00-00",
                "date_reminder": "0000-00-00",
                "date_reminder_2": "0000-00-00",
                "date_reminder_3": "0000-00-00",
                "days_due": "11",
                "supplier_IC": "00000019",
                "supplier_DIC": "CZ00000019",
                "supplier_IDNUM3": "",
                "supplier_name": "Demo s.r.o. plátce",
                "supplier_street": "Ukázková 123",
                "supplier_city": "Ukázkov",
                "supplier_zip": "12334",
                "supplier_country": "Česká republika",
                "supplier_country_code": "CZ",
                "supplier_contact_name": "",
                "supplier_contact_tel": "",
                "supplier_contact_mail": "info@redbit.cz",
                "supplier_contact_web": "www.redbit.cz",
                "customer_IC": "123456789",
                "customer_DIC": "CZ123456789",
                "customer_IDNUM3": "",
                "customer_name": "Ukázková Firma",
                "customer_firstname": "",
                "customer_lastname": "",
                "customer_street": "Pouliční 79/C",
                "customer_city": "Praha",
                "customer_zip": "10300",
                "customer_country": "Česká republika",
                "customer_country_code": "",
                "customer_tel": "",
                "customer_delivery_company": "",
                "customer_delivery_firstname": "",
                "customer_delivery_lastname": "",
                "customer_delivery_street": "",
                "customer_delivery_city": "",
                "customer_delivery_zip": "",
                "customer_delivery_country_code": "",
                "customer_delivery_tel": "",
                "bank_account_number": "",
                "bank_IBAN": "",
                "bank_BIC": "",
                "payment_method": "8",
                "calculate_vat": "1",
                "round_invoice": "1",
                "order_number": "",
                "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                "text_under_customer": "",
                "text_before_items": "",
                "text_invoice_footer": "",
                "mail_to": [],
                "language": "cs",
                "VS": "20210049",
                "KS": "0308",
                "SS": "",
                "currency": "CZK",
                "currency_domestic": "CZK",
                "search": "20210049 123456789 ukazkova firma 1206.64 sterac na ponorku kapalina do ostrikovacu 250 ml doprava",
                "exchange_rate": 1,
                "total": "1206.64",
                "total_without_vat": "1049.25",
                "webhook_paid": "",
                "X_1": "",
                "X_2": "",
                "X_3": "",
                "items": [
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Stěrač na ponorku",
                        "unit_price": "990.25",
                        "vat_rate": 15,
                        "vat_rate_type": 8,
                        "vat": 148.54,
                        "total": 1138.79,
                        "total_without_vat": 990.25,
                        "domestic-unit_price": 990.25,
                        "domestic-vat": 148.54,
                        "domestic-total": 1138.79,
                        "domestic-total_without_vat": 990.25
                    },
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Kapalina do ostřikovačů 250 ml",
                        "unit_price": "59",
                        "vat_rate": 15,
                        "vat_rate_type": 8,
                        "vat": 8.85,
                        "total": 67.85,
                        "total_without_vat": 59,
                        "domestic-unit_price": 59,
                        "domestic-vat": 8.85,
                        "domestic-total": 67.85,
                        "domestic-total_without_vat": 59
                    },
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Doprava",
                        "unit_price": "0",
                        "vat_rate": 0,
                        "vat_rate_type": 32,
                        "vat": 0,
                        "total": 0,
                        "total_without_vat": 0,
                        "domestic-unit_price": 0,
                        "domestic-vat": 0,
                        "domestic-total": 0,
                        "domestic-total_without_vat": 0
                    }
                ],
                "vats": [
                    {
                        "vat_rate": 0,
                        "base": 0,
                        "vat": 0,
                        "total": 0
                    },
                    {
                        "vat_rate": 15,
                        "base": 1049.25,
                        "vat": 157.39,
                        "total": 1206.64
                    }
                ],
                "disable_automated_mails": false,
                "storno": false,
                "moss": false,
                "need_attention": false,
                "url_public_webpage": "https://www.vyfakturuj.cz/print/document/2032366/1578af/",
                "url_online_payment": "https://www.vyfakturuj.cz/print/document/online-payment/2032366/1578af/",
                "url_download_pdf": "https://www.vyfakturuj.cz/print/document/pdf/2032366/1578af/download/",
                "url_download_pdf_no_stamp": "https://www.vyfakturuj.cz/print/document/pdf/2032366/1578af/nostamp/",
                "url_app_detail": "https://app.vyfakturuj.cz/faktury/detail/2032366/",
                "log": [
                    {
                        "date": "2021-02-10 06:34:33",
                        "text": "Vytvoření dokumentu."
                    }
                ],
                "related_documents": []
            }


### Vytvoření opravného daňového dokladu k faktuře [POST]

+ Request (application/json)

        {
            "type": 32,
            "id_parent": 2032366
        }

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": 2032367,
                "id_identity": "0",
                "id_customer": "-1",
                "id_number_series": "28443",
                "id_payment_method": "33662",
                "id_center": "0",
                "id_predkontace": "0",
                "id_cleneniDPH": "0",
                "id_coupon": "0",
                "id_parent": "2032366",
                "id_eet_pokl": "0",
                "type": "32",
                "flags": "1",
                "tags": "0",
                "eet_status": "1",
                "eet_data": "",
                "number": "520210002",
                "date_created": "2021-02-10",
                "date_due": "2021-02-10",
                "date_taxable_supply": "2021-02-10",
                "date_paid": "0000-00-00",
                "date_reminder": "0000-00-00",
                "date_reminder_2": "0000-00-00",
                "date_reminder_3": "0000-00-00",
                "days_due": "0",
                "supplier_IC": "00000019",
                "supplier_DIC": "CZ00000019",
                "supplier_IDNUM3": "",
                "supplier_name": "Demo s.r.o. plátce",
                "supplier_street": "Ukázková 123",
                "supplier_city": "Ukázkov",
                "supplier_zip": "12334",
                "supplier_country": "Česká republika",
                "supplier_country_code": "CZ",
                "supplier_contact_name": "",
                "supplier_contact_tel": "",
                "supplier_contact_mail": "info@redbit.cz",
                "supplier_contact_web": "www.redbit.cz",
                "customer_IC": "123456789",
                "customer_DIC": "CZ123456789",
                "customer_IDNUM3": "",
                "customer_name": "Ukázková Firma",
                "customer_firstname": "",
                "customer_lastname": "",
                "customer_street": "Pouliční 79/C",
                "customer_city": "Praha",
                "customer_zip": "10300",
                "customer_country": "Česká republika",
                "customer_country_code": "",
                "customer_tel": "",
                "customer_delivery_company": "",
                "customer_delivery_firstname": "",
                "customer_delivery_lastname": "",
                "customer_delivery_street": "",
                "customer_delivery_city": "",
                "customer_delivery_zip": "",
                "customer_delivery_country_code": "",
                "customer_delivery_tel": "",
                "bank_account_number": "",
                "bank_IBAN": "",
                "bank_BIC": "",
                "payment_method": "8",
                "calculate_vat": "1",
                "round_invoice": "1",
                "order_number": "",
                "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                "text_under_customer": "",
                "text_before_items": "",
                "text_invoice_footer": "",
                "mail_to": [],
                "language": "cs",
                "VS": "20210049",
                "KS": "0308",
                "SS": "",
                "currency": "CZK",
                "currency_domestic": "CZK",
                "search": "520210002 20210049 123456789 ukazkova firma -1206.64 sterac na ponorku kapalina do ostrikovacu 250 ml doprava",
                "exchange_rate": "1",
                "total": "-1206.64",
                "total_without_vat": "-1049.25",
                "webhook_paid": "",
                "X_1": "",
                "X_2": "",
                "X_3": "",
                "items": [
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Stěrač na ponorku",
                        "unit_price": "-990.25",
                        "vat_rate": 15,
                        "vat_rate_type": 8,
                        "vat": -148.54,
                        "total": -1138.79,
                        "total_without_vat": -990.25,
                        "domestic-unit_price": -990.25,
                        "domestic-vat": -148.54,
                        "domestic-total": -1138.79,
                        "domestic-total_without_vat": -990.25
                    },
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Kapalina do ostřikovačů 250 ml",
                        "unit_price": "-59",
                        "vat_rate": 15,
                        "vat_rate_type": 8,
                        "vat": -8.85,
                        "total": -67.85,
                        "total_without_vat": -59,
                        "domestic-unit_price": -59,
                        "domestic-vat": -8.85,
                        "domestic-total": -67.85,
                        "domestic-total_without_vat": -59
                    },
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Doprava",
                        "unit_price": "0",
                        "vat_rate": 0,
                        "vat_rate_type": 32,
                        "vat": 0,
                        "total": 0,
                        "total_without_vat": 0,
                        "domestic-unit_price": 0,
                        "domestic-vat": 0,
                        "domestic-total": 0,
                        "domestic-total_without_vat": 0
                    }
                ],
                "vats": [
                    {
                        "vat_rate": 0,
                        "base": 0,
                        "vat": 0,
                        "total": 0
                    },
                    {
                        "vat_rate": 15,
                        "base": -1049.25,
                        "vat": -157.39,
                        "total": -1206.64
                    }
                ],
                "disable_automated_mails": false,
                "storno": false,
                "moss": false,
                "need_attention": false,
                "url_public_webpage": "https://www.vyfakturuj.cz/print/document/2032367/b524f3/",
                "url_online_payment": "https://www.vyfakturuj.cz/print/document/online-payment/2032367/b524f3/",
                "url_download_pdf": "https://www.vyfakturuj.cz/print/document/pdf/2032367/b524f3/download/",
                "url_download_pdf_no_stamp": "https://www.vyfakturuj.cz/print/document/pdf/2032367/b524f3/nostamp/",
                "url_app_detail": "https://app.vyfakturuj.cz/faktury/detail/2032367/",
                "log": [
                    {
                        "date": "2021-02-10 06:34:33",
                        "text": "Vytvořen opravný doklad k {vfiid:2032366:FA 20210049}. "
                    },
                    {
                        "date": "2021-02-10 06:34:33",
                        "text": "Vytvoření dokumentu."
                    }
                ],
                "related_documents": {
                    "2032366": {
                        "id": "2032366",
                        "id_identity": "0",
                        "id_customer": "-1",
                        "id_number_series": "28437",
                        "id_payment_method": "33662",
                        "id_center": "0",
                        "id_predkontace": "0",
                        "id_cleneniDPH": "0",
                        "id_coupon": "0",
                        "id_parent": "0",
                        "id_eet_pokl": "0",
                        "type": "1",
                        "flags": "1",
                        "tags": "0",
                        "eet_status": "1",
                        "eet_data": "",
                        "number": "20210049",
                        "date_created": "2021-02-10",
                        "date_due": "2021-02-21",
                        "date_taxable_supply": "2021-02-10",
                        "date_paid": "0000-00-00",
                        "date_reminder": "0000-00-00",
                        "date_reminder_2": "0000-00-00",
                        "date_reminder_3": "0000-00-00",
                        "days_due": "11",
                        "supplier_IC": "00000019",
                        "supplier_DIC": "CZ00000019",
                        "supplier_IDNUM3": "",
                        "supplier_name": "Demo s.r.o. plátce",
                        "supplier_street": "Ukázková 123",
                        "supplier_city": "Ukázkov",
                        "supplier_zip": "12334",
                        "supplier_country": "Česká republika",
                        "supplier_country_code": "CZ",
                        "supplier_contact_name": "",
                        "supplier_contact_tel": "",
                        "supplier_contact_mail": "info@redbit.cz",
                        "supplier_contact_web": "www.redbit.cz",
                        "customer_IC": "123456789",
                        "customer_DIC": "CZ123456789",
                        "customer_IDNUM3": "",
                        "customer_name": "Ukázková Firma",
                        "customer_firstname": "",
                        "customer_lastname": "",
                        "customer_street": "Pouliční 79/C",
                        "customer_city": "Praha",
                        "customer_zip": "10300",
                        "customer_country": "Česká republika",
                        "customer_country_code": "",
                        "customer_tel": "",
                        "customer_delivery_company": "",
                        "customer_delivery_firstname": "",
                        "customer_delivery_lastname": "",
                        "customer_delivery_street": "",
                        "customer_delivery_city": "",
                        "customer_delivery_zip": "",
                        "customer_delivery_country_code": "",
                        "customer_delivery_tel": "",
                        "bank_account_number": "",
                        "bank_IBAN": "",
                        "bank_BIC": "",
                        "payment_method": "8",
                        "calculate_vat": "1",
                        "round_invoice": "1",
                        "order_number": "",
                        "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                        "text_under_customer": "",
                        "text_before_items": "",
                        "text_invoice_footer": "",
                        "mail_to": [],
                        "language": "cs",
                        "VS": "20210049",
                        "KS": "0308",
                        "SS": "",
                        "currency": "CZK",
                        "currency_domestic": "CZK",
                        "search": "20210049 123456789 ukazkova firma 1206.64 sterac na ponorku kapalina do ostrikovacu 250 ml doprava",
                        "exchange_rate": 1,
                        "total": "1206.64",
                        "total_without_vat": "1049.25",
                        "webhook_paid": "",
                        "X_1": "",
                        "X_2": "",
                        "X_3": "",
                        "items": [
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Stěrač na ponorku",
                                "unit_price": "990.25",
                                "vat_rate": 15,
                                "vat_rate_type": 8,
                                "vat": 148.54,
                                "total": 1138.79,
                                "total_without_vat": 990.25,
                                "domestic-unit_price": 990.25,
                                "domestic-vat": 148.54,
                                "domestic-total": 1138.79,
                                "domestic-total_without_vat": 990.25
                            },
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Kapalina do ostřikovačů 250 ml",
                                "unit_price": "59",
                                "vat_rate": 15,
                                "vat_rate_type": 8,
                                "vat": 8.85,
                                "total": 67.85,
                                "total_without_vat": 59,
                                "domestic-unit_price": 59,
                                "domestic-vat": 8.85,
                                "domestic-total": 67.85,
                                "domestic-total_without_vat": 59
                            },
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Doprava",
                                "unit_price": "0",
                                "vat_rate": 0,
                                "vat_rate_type": 32,
                                "vat": 0,
                                "total": 0,
                                "total_without_vat": 0,
                                "domestic-unit_price": 0,
                                "domestic-vat": 0,
                                "domestic-total": 0,
                                "domestic-total_without_vat": 0
                            }
                        ],
                        "vats": [
                            {
                                "vat_rate": 0,
                                "base": 0,
                                "vat": 0,
                                "total": 0
                            },
                            {
                                "vat_rate": 15,
                                "base": 1049.25,
                                "vat": 157.39,
                                "total": 1206.64
                            }
                        ],
                        "disable_automated_mails": false,
                        "storno": false,
                        "moss": false,
                        "need_attention": false,
                        "url_public_webpage": "https://www.vyfakturuj.cz/print/document/2032366/1578af/",
                        "url_online_payment": "https://www.vyfakturuj.cz/print/document/online-payment/2032366/1578af/",
                        "url_download_pdf": "https://www.vyfakturuj.cz/print/document/pdf/2032366/1578af/download/",
                        "url_download_pdf_no_stamp": "https://www.vyfakturuj.cz/print/document/pdf/2032366/1578af/nostamp/",
                        "url_app_detail": "https://app.vyfakturuj.cz/faktury/detail/2032366/",
                        "log": [
                            {
                                "date": "2021-02-10 06:34:33",
                                "text": "Vytvoření dokumentu."
                            }
                        ]
                    }
                }
            }


## Práce s fakturou [/invoice/{id}/]

### Získání faktury [GET]

+ Request (application/json)

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": "2032366",
                "id_identity": "0",
                "id_customer": "-1",
                "id_number_series": "28437",
                "id_payment_method": "33662",
                "id_center": "0",
                "id_predkontace": "0",
                "id_cleneniDPH": "0",
                "id_coupon": "0",
                "id_parent": "0",
                "id_eet_pokl": "0",
                "type": "1",
                "flags": "1",
                "tags": "0",
                "eet_status": "1",
                "eet_data": "",
                "number": "20210049",
                "date_created": "2021-02-10",
                "date_due": "2021-02-21",
                "date_taxable_supply": "2021-02-10",
                "date_paid": "0000-00-00",
                "date_reminder": "0000-00-00",
                "date_reminder_2": "0000-00-00",
                "date_reminder_3": "0000-00-00",
                "days_due": "11",
                "supplier_IC": "00000019",
                "supplier_DIC": "CZ00000019",
                "supplier_IDNUM3": "",
                "supplier_name": "Demo s.r.o. plátce",
                "supplier_street": "Ukázková 123",
                "supplier_city": "Ukázkov",
                "supplier_zip": "12334",
                "supplier_country": "Česká republika",
                "supplier_country_code": "CZ",
                "supplier_contact_name": "",
                "supplier_contact_tel": "",
                "supplier_contact_mail": "info@redbit.cz",
                "supplier_contact_web": "www.redbit.cz",
                "customer_IC": "123456789",
                "customer_DIC": "CZ123456789",
                "customer_IDNUM3": "",
                "customer_name": "Ukázková Firma",
                "customer_firstname": "",
                "customer_lastname": "",
                "customer_street": "Pouliční 79/C",
                "customer_city": "Praha",
                "customer_zip": "10300",
                "customer_country": "Česká republika",
                "customer_country_code": "",
                "customer_tel": "",
                "customer_delivery_company": "",
                "customer_delivery_firstname": "",
                "customer_delivery_lastname": "",
                "customer_delivery_street": "",
                "customer_delivery_city": "",
                "customer_delivery_zip": "",
                "customer_delivery_country_code": "",
                "customer_delivery_tel": "",
                "bank_account_number": "",
                "bank_IBAN": "",
                "bank_BIC": "",
                "payment_method": "8",
                "calculate_vat": "1",
                "round_invoice": "1",
                "order_number": "",
                "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                "text_under_customer": "",
                "text_before_items": "",
                "text_invoice_footer": "",
                "mail_to": [],
                "language": "cs",
                "VS": "20210049",
                "KS": "0308",
                "SS": "",
                "currency": "CZK",
                "currency_domestic": "CZK",
                "search": "20210049 123456789 ukazkova firma 1206.64 sterac na ponorku kapalina do ostrikovacu 250 ml doprava",
                "exchange_rate": 1,
                "total": "1206.64",
                "total_without_vat": "1049.25",
                "webhook_paid": "",
                "X_1": "",
                "X_2": "",
                "X_3": "",
                "items": [
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Stěrač na ponorku",
                        "unit_price": "990.25",
                        "vat_rate": 15,
                        "vat_rate_type": 8,
                        "vat": 148.54,
                        "total": 1138.79,
                        "total_without_vat": 990.25,
                        "domestic-unit_price": 990.25,
                        "domestic-vat": 148.54,
                        "domestic-total": 1138.79,
                        "domestic-total_without_vat": 990.25
                    },
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Kapalina do ostřikovačů 250 ml",
                        "unit_price": "59",
                        "vat_rate": 15,
                        "vat_rate_type": 8,
                        "vat": 8.85,
                        "total": 67.85,
                        "total_without_vat": 59,
                        "domestic-unit_price": 59,
                        "domestic-vat": 8.85,
                        "domestic-total": 67.85,
                        "domestic-total_without_vat": 59
                    },
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Doprava",
                        "unit_price": "0",
                        "vat_rate": 0,
                        "vat_rate_type": 32,
                        "vat": 0,
                        "total": 0,
                        "total_without_vat": 0,
                        "domestic-unit_price": 0,
                        "domestic-vat": 0,
                        "domestic-total": 0,
                        "domestic-total_without_vat": 0
                    }
                ],
                "vats": [
                    {
                        "vat_rate": 0,
                        "base": 0,
                        "vat": 0,
                        "total": 0
                    },
                    {
                        "vat_rate": 15,
                        "base": 1049.25,
                        "vat": 157.39,
                        "total": 1206.64
                    }
                ],
                "disable_automated_mails": false,
                "storno": false,
                "moss": false,
                "need_attention": false,
                "url_public_webpage": "https://www.vyfakturuj.cz/print/document/2032366/1578af/",
                "url_online_payment": "https://www.vyfakturuj.cz/print/document/online-payment/2032366/1578af/",
                "url_download_pdf": "https://www.vyfakturuj.cz/print/document/pdf/2032366/1578af/download/",
                "url_download_pdf_no_stamp": "https://www.vyfakturuj.cz/print/document/pdf/2032366/1578af/nostamp/",
                "url_app_detail": "https://app.vyfakturuj.cz/faktury/detail/2032366/",
                "log": [
                    {
                        "date": "2021-02-10 06:34:33",
                        "text": "Vytvoření dokumentu."
                    }
                ],
                "related_documents": {
                    "2032367": {
                        "id": "2032367",
                        "id_identity": "0",
                        "id_customer": "-1",
                        "id_number_series": "28443",
                        "id_payment_method": "33662",
                        "id_center": "0",
                        "id_predkontace": "0",
                        "id_cleneniDPH": "0",
                        "id_coupon": "0",
                        "id_parent": "2032366",
                        "id_eet_pokl": "0",
                        "type": "32",
                        "flags": "1",
                        "tags": "0",
                        "eet_status": "1",
                        "eet_data": "",
                        "number": "520210002",
                        "date_created": "2021-02-10",
                        "date_due": "2021-02-10",
                        "date_taxable_supply": "2021-02-10",
                        "date_paid": "0000-00-00",
                        "date_reminder": "0000-00-00",
                        "date_reminder_2": "0000-00-00",
                        "date_reminder_3": "0000-00-00",
                        "days_due": "0",
                        "supplier_IC": "00000019",
                        "supplier_DIC": "CZ00000019",
                        "supplier_IDNUM3": "",
                        "supplier_name": "Demo s.r.o. plátce",
                        "supplier_street": "Ukázková 123",
                        "supplier_city": "Ukázkov",
                        "supplier_zip": "12334",
                        "supplier_country": "Česká republika",
                        "supplier_country_code": "CZ",
                        "supplier_contact_name": "",
                        "supplier_contact_tel": "",
                        "supplier_contact_mail": "info@redbit.cz",
                        "supplier_contact_web": "www.redbit.cz",
                        "customer_IC": "123456789",
                        "customer_DIC": "CZ123456789",
                        "customer_IDNUM3": "",
                        "customer_name": "Ukázková Firma",
                        "customer_firstname": "",
                        "customer_lastname": "",
                        "customer_street": "Pouliční 79/C",
                        "customer_city": "Praha",
                        "customer_zip": "10300",
                        "customer_country": "Česká republika",
                        "customer_country_code": "",
                        "customer_tel": "",
                        "customer_delivery_company": "",
                        "customer_delivery_firstname": "",
                        "customer_delivery_lastname": "",
                        "customer_delivery_street": "",
                        "customer_delivery_city": "",
                        "customer_delivery_zip": "",
                        "customer_delivery_country_code": "",
                        "customer_delivery_tel": "",
                        "bank_account_number": "",
                        "bank_IBAN": "",
                        "bank_BIC": "",
                        "payment_method": "8",
                        "calculate_vat": "1",
                        "round_invoice": "1",
                        "order_number": "",
                        "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                        "text_under_customer": "",
                        "text_before_items": "",
                        "text_invoice_footer": "",
                        "mail_to": [],
                        "language": "cs",
                        "VS": "20210049",
                        "KS": "0308",
                        "SS": "",
                        "currency": "CZK",
                        "currency_domestic": "CZK",
                        "search": "520210002 20210049 123456789 ukazkova firma -1206.64 sterac na ponorku kapalina do ostrikovacu 250 ml doprava",
                        "exchange_rate": "1",
                        "total": "-1206.64",
                        "total_without_vat": "-1049.25",
                        "webhook_paid": "",
                        "X_1": "",
                        "X_2": "",
                        "X_3": "",
                        "items": [
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Stěrač na ponorku",
                                "unit_price": "-990.25",
                                "vat_rate": 15,
                                "vat_rate_type": 8,
                                "vat": -148.54,
                                "total": -1138.79,
                                "total_without_vat": -990.25,
                                "domestic-unit_price": -990.25,
                                "domestic-vat": -148.54,
                                "domestic-total": -1138.79,
                                "domestic-total_without_vat": -990.25
                            },
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Kapalina do ostřikovačů 250 ml",
                                "unit_price": "-59",
                                "vat_rate": 15,
                                "vat_rate_type": 8,
                                "vat": -8.85,
                                "total": -67.85,
                                "total_without_vat": -59,
                                "domestic-unit_price": -59,
                                "domestic-vat": -8.85,
                                "domestic-total": -67.85,
                                "domestic-total_without_vat": -59
                            },
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Doprava",
                                "unit_price": "0",
                                "vat_rate": 0,
                                "vat_rate_type": 32,
                                "vat": 0,
                                "total": 0,
                                "total_without_vat": 0,
                                "domestic-unit_price": 0,
                                "domestic-vat": 0,
                                "domestic-total": 0,
                                "domestic-total_without_vat": 0
                            }
                        ],
                        "vats": [
                            {
                                "vat_rate": 0,
                                "base": 0,
                                "vat": 0,
                                "total": 0
                            },
                            {
                                "vat_rate": 15,
                                "base": -1049.25,
                                "vat": -157.39,
                                "total": -1206.64
                            }
                        ],
                        "disable_automated_mails": false,
                        "storno": false,
                        "moss": false,
                        "need_attention": false,
                        "url_public_webpage": "https://www.vyfakturuj.cz/print/document/2032367/b524f3/",
                        "url_online_payment": "https://www.vyfakturuj.cz/print/document/online-payment/2032367/b524f3/",
                        "url_download_pdf": "https://www.vyfakturuj.cz/print/document/pdf/2032367/b524f3/download/",
                        "url_download_pdf_no_stamp": "https://www.vyfakturuj.cz/print/document/pdf/2032367/b524f3/nostamp/",
                        "url_app_detail": "https://app.vyfakturuj.cz/faktury/detail/2032367/",
                        "log": [
                            {
                                "date": "2021-02-10 06:34:33",
                                "text": "Vytvořen opravný doklad k {vfiid:2032366:FA 20210049}. "
                            },
                            {
                                "date": "2021-02-10 06:34:33",
                                "text": "Vytvoření dokumentu."
                            }
                        ]
                    }
                }
            }


### Editace faktury [PUT]

+ Request (application/json)

        {
            "customer_name": "Ukázková Firma po úpravě",
            "items": [
                {
                    "text": "Stěrač na ponorku",
                    "unit_price": 990.25,
                    "vat_rate": 15
                }
            ]
        }

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": "2032366",
                "id_identity": "0",
                "id_customer": -1,
                "id_number_series": "28437",
                "id_payment_method": "33662",
                "id_center": "0",
                "id_predkontace": "0",
                "id_cleneniDPH": "0",
                "id_coupon": "0",
                "id_parent": "0",
                "id_eet_pokl": "0",
                "type": "1",
                "flags": "1",
                "tags": "0",
                "eet_status": "1",
                "eet_data": "",
                "number": "20210049",
                "date_created": "2021-02-10",
                "date_due": "2021-02-21",
                "date_taxable_supply": "2021-02-10",
                "date_paid": "0000-00-00",
                "date_reminder": "0000-00-00",
                "date_reminder_2": "0000-00-00",
                "date_reminder_3": "0000-00-00",
                "days_due": "11",
                "supplier_IC": "00000019",
                "supplier_DIC": "CZ00000019",
                "supplier_IDNUM3": "",
                "supplier_name": "Demo s.r.o. plátce",
                "supplier_street": "Ukázková 123",
                "supplier_city": "Ukázkov",
                "supplier_zip": "12334",
                "supplier_country": "Česká republika",
                "supplier_country_code": "CZ",
                "supplier_contact_name": "",
                "supplier_contact_tel": "",
                "supplier_contact_mail": "info@redbit.cz",
                "supplier_contact_web": "www.redbit.cz",
                "customer_IC": "123456789",
                "customer_DIC": "CZ123456789",
                "customer_IDNUM3": "",
                "customer_name": "Ukázková Firma po úpravě",
                "customer_firstname": "",
                "customer_lastname": "",
                "customer_street": "Pouliční 79/C",
                "customer_city": "Praha",
                "customer_zip": "10300",
                "customer_country": "Česká republika",
                "customer_country_code": "",
                "customer_tel": "",
                "customer_delivery_company": "",
                "customer_delivery_firstname": "",
                "customer_delivery_lastname": "",
                "customer_delivery_street": "",
                "customer_delivery_city": "",
                "customer_delivery_zip": "",
                "customer_delivery_country_code": "",
                "customer_delivery_tel": "",
                "bank_account_number": "",
                "bank_IBAN": "",
                "bank_BIC": "",
                "payment_method": "8",
                "calculate_vat": "1",
                "round_invoice": "1",
                "order_number": "",
                "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                "text_under_customer": "",
                "text_before_items": "",
                "text_invoice_footer": "",
                "mail_to": [],
                "language": "cs",
                "VS": "20210049",
                "KS": "0308",
                "SS": "",
                "currency": "CZK",
                "currency_domestic": "CZK",
                "search": "20210049 123456789 ukazkova firma 1206.64 sterac na ponorku kapalina do ostrikovacu 250 ml doprava",
                "exchange_rate": 1,
                "total": "1206.64",
                "total_without_vat": "1049.25",
                "webhook_paid": "",
                "X_1": "",
                "X_2": "",
                "X_3": "",
                "items": [
                    {
                        "text": "Stěrač na ponorku",
                        "unit_price": 990.25,
                        "vat_rate": 15
                    },
                    {
                        "quantity": 1,
                        "text": "Stěrač na ponorku",
                        "unit_price": "990.25",
                        "vat_rate": "15",
                        "vat_rate_type": 8
                    }
                ],
                "vats": [
                    {
                        "vat_rate": 0,
                        "base": 0,
                        "vat": 0,
                        "total": 0
                    },
                    {
                        "vat_rate": 15,
                        "base": 1049.25,
                        "vat": 157.39,
                        "total": 1206.64
                    }
                ],
                "disable_automated_mails": false,
                "storno": false,
                "moss": false,
                "need_attention": false,
                "url_public_webpage": "https://www.vyfakturuj.cz/print/document/2032366/1578af/",
                "url_online_payment": "https://www.vyfakturuj.cz/print/document/online-payment/2032366/1578af/",
                "url_download_pdf": "https://www.vyfakturuj.cz/print/document/pdf/2032366/1578af/download/",
                "url_download_pdf_no_stamp": "https://www.vyfakturuj.cz/print/document/pdf/2032366/1578af/nostamp/",
                "url_app_detail": "https://app.vyfakturuj.cz/faktury/detail/2032366/",
                "log": [
                    {
                        "date": "2021-02-10 06:34:33",
                        "text": "Vytvoření dokumentu."
                    }
                ],
                "related_documents": {
                    "2032367": {
                        "id": "2032367",
                        "id_identity": "0",
                        "id_customer": "-1",
                        "id_number_series": "28443",
                        "id_payment_method": "33662",
                        "id_center": "0",
                        "id_predkontace": "0",
                        "id_cleneniDPH": "0",
                        "id_coupon": "0",
                        "id_parent": "2032366",
                        "id_eet_pokl": "0",
                        "type": "32",
                        "flags": "1",
                        "tags": "0",
                        "eet_status": "1",
                        "eet_data": "",
                        "number": "520210002",
                        "date_created": "2021-02-10",
                        "date_due": "2021-02-10",
                        "date_taxable_supply": "2021-02-10",
                        "date_paid": "0000-00-00",
                        "date_reminder": "0000-00-00",
                        "date_reminder_2": "0000-00-00",
                        "date_reminder_3": "0000-00-00",
                        "days_due": "0",
                        "supplier_IC": "00000019",
                        "supplier_DIC": "CZ00000019",
                        "supplier_IDNUM3": "",
                        "supplier_name": "Demo s.r.o. plátce",
                        "supplier_street": "Ukázková 123",
                        "supplier_city": "Ukázkov",
                        "supplier_zip": "12334",
                        "supplier_country": "Česká republika",
                        "supplier_country_code": "CZ",
                        "supplier_contact_name": "",
                        "supplier_contact_tel": "",
                        "supplier_contact_mail": "info@redbit.cz",
                        "supplier_contact_web": "www.redbit.cz",
                        "customer_IC": "123456789",
                        "customer_DIC": "CZ123456789",
                        "customer_IDNUM3": "",
                        "customer_name": "Ukázková Firma",
                        "customer_firstname": "",
                        "customer_lastname": "",
                        "customer_street": "Pouliční 79/C",
                        "customer_city": "Praha",
                        "customer_zip": "10300",
                        "customer_country": "Česká republika",
                        "customer_country_code": "",
                        "customer_tel": "",
                        "customer_delivery_company": "",
                        "customer_delivery_firstname": "",
                        "customer_delivery_lastname": "",
                        "customer_delivery_street": "",
                        "customer_delivery_city": "",
                        "customer_delivery_zip": "",
                        "customer_delivery_country_code": "",
                        "customer_delivery_tel": "",
                        "bank_account_number": "",
                        "bank_IBAN": "",
                        "bank_BIC": "",
                        "payment_method": "8",
                        "calculate_vat": "1",
                        "round_invoice": "1",
                        "order_number": "",
                        "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                        "text_under_customer": "",
                        "text_before_items": "",
                        "text_invoice_footer": "",
                        "mail_to": [],
                        "language": "cs",
                        "VS": "20210049",
                        "KS": "0308",
                        "SS": "",
                        "currency": "CZK",
                        "currency_domestic": "CZK",
                        "search": "520210002 20210049 123456789 ukazkova firma -1206.64 sterac na ponorku kapalina do ostrikovacu 250 ml doprava",
                        "exchange_rate": "1",
                        "total": "-1206.64",
                        "total_without_vat": "-1049.25",
                        "webhook_paid": "",
                        "X_1": "",
                        "X_2": "",
                        "X_3": "",
                        "items": [
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Stěrač na ponorku",
                                "unit_price": "-990.25",
                                "vat_rate": 15,
                                "vat_rate_type": 8,
                                "vat": -148.54,
                                "total": -1138.79,
                                "total_without_vat": -990.25,
                                "domestic-unit_price": -990.25,
                                "domestic-vat": -148.54,
                                "domestic-total": -1138.79,
                                "domestic-total_without_vat": -990.25
                            },
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Kapalina do ostřikovačů 250 ml",
                                "unit_price": "-59",
                                "vat_rate": 15,
                                "vat_rate_type": 8,
                                "vat": -8.85,
                                "total": -67.85,
                                "total_without_vat": -59,
                                "domestic-unit_price": -59,
                                "domestic-vat": -8.85,
                                "domestic-total": -67.85,
                                "domestic-total_without_vat": -59
                            },
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Doprava",
                                "unit_price": "0",
                                "vat_rate": 0,
                                "vat_rate_type": 32,
                                "vat": 0,
                                "total": 0,
                                "total_without_vat": 0,
                                "domestic-unit_price": 0,
                                "domestic-vat": 0,
                                "domestic-total": 0,
                                "domestic-total_without_vat": 0
                            }
                        ],
                        "vats": [
                            {
                                "vat_rate": 0,
                                "base": 0,
                                "vat": 0,
                                "total": 0
                            },
                            {
                                "vat_rate": 15,
                                "base": -1049.25,
                                "vat": -157.39,
                                "total": -1206.64
                            }
                        ],
                        "disable_automated_mails": false,
                        "storno": false,
                        "moss": false,
                        "need_attention": false,
                        "url_public_webpage": "https://www.vyfakturuj.cz/print/document/2032367/b524f3/",
                        "url_online_payment": "https://www.vyfakturuj.cz/print/document/online-payment/2032367/b524f3/",
                        "url_download_pdf": "https://www.vyfakturuj.cz/print/document/pdf/2032367/b524f3/download/",
                        "url_download_pdf_no_stamp": "https://www.vyfakturuj.cz/print/document/pdf/2032367/b524f3/nostamp/",
                        "url_app_detail": "https://app.vyfakturuj.cz/faktury/detail/2032367/",
                        "log": [
                            {
                                "date": "2021-02-10 06:34:33",
                                "text": "Vytvořen opravný doklad k {vfiid:2032366:FA 20210049}. "
                            },
                            {
                                "date": "2021-02-10 06:34:33",
                                "text": "Vytvoření dokumentu."
                            }
                        ]
                    }
                }
            }


## Zaslání do EET [/invoice/{id}/do/send-eet/]

### Zaslání do EET [POST /invoice/{id}/do/send-eet/]

+ Request (application/json)

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "status": "error",
                "message": {
                    "global": [
                        "Dokument nemá nastavený EET status na hotnotu 4."
                    ]
                }
            }



## Odeslání faktury e-mailem [/invoice/{id}/do/send-mail/]

<table>
    <tr>
        <th>Klíč</th>
        <th>Typ</th>
        <th>Popis</th>
        <th>Práva</th>
    </tr>
    <tr>
        <td>type</td>
        <td>int</td>
        <td>Typ mailu
        <blockquote>
            <code>1</code> Nový doklad<br>
            <code>2</code> Upomínka<br>
            <code>3</code> Doklad byl uhrazen
        </blockquote></td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>to</td>
        <td>string255</td>
        <td>Adresát(i) např: "demo1@vyfakturuj.cz, demo2@vyfakturuj.cz"</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>cc</td>
        <td>string255</td>
        <td>Kopie</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>bcc</td>
        <td>string255</td>
        <td>Slepá kopie</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>subject</td>
        <td>string255</td>
        <td>Předmět e-mailu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>body</td>
        <td>text</td>
        <td>Obsah e-mailu</td>
        <td>R/W</td>
    </tr>
    <tr>
        <td>pdfAttachment</td>
        <td>bool</td>
        <td>Má se zaslat doklad jako PDF v příloze</td>
        <td>R/W</td>
    </tr>
</table>

### Odeslání faktury e-mailem  [POST]

+ Request (application/json)

        {
            "type": 3,
            "to": "demo@vyfakturuj.cz, demo.copy@vyfakturuj.cz",
            "pdfAttachment": true,
            "test": true
        }

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "message": "Mail is NOT sent. Return only mail pattern.",
                "mailPattern": {
                    "to": "demo@vyfakturuj.cz, demo.copy@vyfakturuj.cz",
                    "cc": "",
                    "bcc": "",
                    "subject": "Faktura č. 20210049 - uhrazena",
                    "pdfAttachment": true,
                    "body": "Dobrý den\r\n\r\nVaše platba byla přijata (Faktura č. 20210049).\r\n\r\nFakturu č. 20210049 naleznete na adrese: https://www.vyfakturuj.cz/print/document/2032366/1578af/\r\n\r\nS pozdravem\r\n\r\nDemo s.r.o. plátce"
                }
            }


## Uhrazení faktury [/invoice/{id}/do/pay/]

### Uhrazení faktury  [POST /invoice/{id}/do/pay/]

+ Request (application/json)

        {
            "date": "2016-12-31"
        }

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "id": "2032366",
                "id_identity": "0",
                "id_customer": "-1",
                "id_number_series": "28437",
                "id_payment_method": "33662",
                "id_center": "0",
                "id_predkontace": "0",
                "id_cleneniDPH": "0",
                "id_coupon": "0",
                "id_parent": "0",
                "id_eet_pokl": "0",
                "type": "1",
                "flags": "1",
                "tags": "0",
                "eet_status": "1",
                "eet_data": "",
                "number": "20210049",
                "date_created": "2021-02-10",
                "date_due": "2021-02-21",
                "date_taxable_supply": "2021-02-10",
                "date_paid": "0000-00-00",
                "date_reminder": "0000-00-00",
                "date_reminder_2": "0000-00-00",
                "date_reminder_3": "0000-00-00",
                "days_due": "11",
                "supplier_IC": "00000019",
                "supplier_DIC": "CZ00000019",
                "supplier_IDNUM3": "",
                "supplier_name": "Demo s.r.o. plátce",
                "supplier_street": "Ukázková 123",
                "supplier_city": "Ukázkov",
                "supplier_zip": "12334",
                "supplier_country": "Česká republika",
                "supplier_country_code": "CZ",
                "supplier_contact_name": "",
                "supplier_contact_tel": "",
                "supplier_contact_mail": "info@redbit.cz",
                "supplier_contact_web": "www.redbit.cz",
                "customer_IC": "123456789",
                "customer_DIC": "CZ123456789",
                "customer_IDNUM3": "",
                "customer_name": "Ukázková Firma po úpravě",
                "customer_firstname": "",
                "customer_lastname": "",
                "customer_street": "Pouliční 79/C",
                "customer_city": "Praha",
                "customer_zip": "10300",
                "customer_country": "Česká republika",
                "customer_country_code": "",
                "customer_tel": "",
                "customer_delivery_company": "",
                "customer_delivery_firstname": "",
                "customer_delivery_lastname": "",
                "customer_delivery_street": "",
                "customer_delivery_city": "",
                "customer_delivery_zip": "",
                "customer_delivery_country_code": "",
                "customer_delivery_tel": "",
                "bank_account_number": "",
                "bank_IBAN": "",
                "bank_BIC": "",
                "payment_method": "8",
                "calculate_vat": "1",
                "round_invoice": "1",
                "order_number": "",
                "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                "text_under_customer": "",
                "text_before_items": "",
                "text_invoice_footer": "",
                "mail_to": [],
                "language": "cs",
                "VS": "20210049",
                "KS": "0308",
                "SS": "",
                "currency": "CZK",
                "currency_domestic": "CZK",
                "search": "20210049 123456789 ukazkova firma po uprave 1138.79 sterac na ponorku",
                "exchange_rate": "1",
                "total": "1138.79",
                "total_without_vat": "990.25",
                "webhook_paid": "",
                "X_1": "",
                "X_2": "",
                "X_3": "",
                "items": [
                    {
                        "quantity": 1,
                        "unit": "",
                        "text": "Stěrač na ponorku",
                        "unit_price": "990.25",
                        "vat_rate": 15,
                        "vat_rate_type": 8,
                        "vat": 148.54,
                        "total": 1138.79,
                        "total_without_vat": 990.25,
                        "domestic-unit_price": 990.25,
                        "domestic-vat": 148.54,
                        "domestic-total": 1138.79,
                        "domestic-total_without_vat": 990.25
                    }
                ],
                "vats": [
                    {
                        "vat_rate": 15,
                        "base": 990.25,
                        "vat": 148.54,
                        "total": 1138.79
                    }
                ],
                "disable_automated_mails": false,
                "storno": false,
                "moss": false,
                "need_attention": false,
                "url_public_webpage": "https://www.vyfakturuj.cz/print/document/2032366/1578af/",
                "url_online_payment": "https://www.vyfakturuj.cz/print/document/online-payment/2032366/1578af/",
                "url_download_pdf": "https://www.vyfakturuj.cz/print/document/pdf/2032366/1578af/download/",
                "url_download_pdf_no_stamp": "https://www.vyfakturuj.cz/print/document/pdf/2032366/1578af/nostamp/",
                "url_app_detail": "https://app.vyfakturuj.cz/faktury/detail/2032366/",
                "log": [
                    {
                        "date": "2021-02-10 06:34:33",
                        "text": "Vytvoření dokumentu."
                    },
                    {
                        "date": "2021-02-10 06:34:35",
                        "text": "Uhrazeno 1 138,79 Kč k datu 31.12.2016."
                    }
                ],
                "related_documents": {
                    "2032367": {
                        "id": "2032367",
                        "id_identity": "0",
                        "id_customer": "-1",
                        "id_number_series": "28443",
                        "id_payment_method": "33662",
                        "id_center": "0",
                        "id_predkontace": "0",
                        "id_cleneniDPH": "0",
                        "id_coupon": "0",
                        "id_parent": "2032366",
                        "id_eet_pokl": "0",
                        "type": "32",
                        "flags": "1",
                        "tags": "0",
                        "eet_status": "1",
                        "eet_data": "",
                        "number": "520210002",
                        "date_created": "2021-02-10",
                        "date_due": "2021-02-10",
                        "date_taxable_supply": "2021-02-10",
                        "date_paid": "0000-00-00",
                        "date_reminder": "0000-00-00",
                        "date_reminder_2": "0000-00-00",
                        "date_reminder_3": "0000-00-00",
                        "days_due": "0",
                        "supplier_IC": "00000019",
                        "supplier_DIC": "CZ00000019",
                        "supplier_IDNUM3": "",
                        "supplier_name": "Demo s.r.o. plátce",
                        "supplier_street": "Ukázková 123",
                        "supplier_city": "Ukázkov",
                        "supplier_zip": "12334",
                        "supplier_country": "Česká republika",
                        "supplier_country_code": "CZ",
                        "supplier_contact_name": "",
                        "supplier_contact_tel": "",
                        "supplier_contact_mail": "info@redbit.cz",
                        "supplier_contact_web": "www.redbit.cz",
                        "customer_IC": "123456789",
                        "customer_DIC": "CZ123456789",
                        "customer_IDNUM3": "",
                        "customer_name": "Ukázková Firma",
                        "customer_firstname": "",
                        "customer_lastname": "",
                        "customer_street": "Pouliční 79/C",
                        "customer_city": "Praha",
                        "customer_zip": "10300",
                        "customer_country": "Česká republika",
                        "customer_country_code": "",
                        "customer_tel": "",
                        "customer_delivery_company": "",
                        "customer_delivery_firstname": "",
                        "customer_delivery_lastname": "",
                        "customer_delivery_street": "",
                        "customer_delivery_city": "",
                        "customer_delivery_zip": "",
                        "customer_delivery_country_code": "",
                        "customer_delivery_tel": "",
                        "bank_account_number": "",
                        "bank_IBAN": "",
                        "bank_BIC": "",
                        "payment_method": "8",
                        "calculate_vat": "1",
                        "round_invoice": "1",
                        "order_number": "",
                        "text_under_subscriber": "Č. j. MMOP 51859/2007/ZIVN/BaM",
                        "text_under_customer": "",
                        "text_before_items": "",
                        "text_invoice_footer": "",
                        "mail_to": [],
                        "language": "cs",
                        "VS": "20210049",
                        "KS": "0308",
                        "SS": "",
                        "currency": "CZK",
                        "currency_domestic": "CZK",
                        "search": "520210002 20210049 123456789 ukazkova firma -1206.64 sterac na ponorku kapalina do ostrikovacu 250 ml doprava",
                        "exchange_rate": "1",
                        "total": "-1206.64",
                        "total_without_vat": "-1049.25",
                        "webhook_paid": "",
                        "X_1": "",
                        "X_2": "",
                        "X_3": "",
                        "items": [
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Stěrač na ponorku",
                                "unit_price": "-990.25",
                                "vat_rate": 15,
                                "vat_rate_type": 8,
                                "vat": -148.54,
                                "total": -1138.79,
                                "total_without_vat": -990.25,
                                "domestic-unit_price": -990.25,
                                "domestic-vat": -148.54,
                                "domestic-total": -1138.79,
                                "domestic-total_without_vat": -990.25
                            },
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Kapalina do ostřikovačů 250 ml",
                                "unit_price": "-59",
                                "vat_rate": 15,
                                "vat_rate_type": 8,
                                "vat": -8.85,
                                "total": -67.85,
                                "total_without_vat": -59,
                                "domestic-unit_price": -59,
                                "domestic-vat": -8.85,
                                "domestic-total": -67.85,
                                "domestic-total_without_vat": -59
                            },
                            {
                                "quantity": 1,
                                "unit": "",
                                "text": "Doprava",
                                "unit_price": "0",
                                "vat_rate": 0,
                                "vat_rate_type": 32,
                                "vat": 0,
                                "total": 0,
                                "total_without_vat": 0,
                                "domestic-unit_price": 0,
                                "domestic-vat": 0,
                                "domestic-total": 0,
                                "domestic-total_without_vat": 0
                            }
                        ],
                        "vats": [
                            {
                                "vat_rate": 0,
                                "base": 0,
                                "vat": 0,
                                "total": 0
                            },
                            {
                                "vat_rate": 15,
                                "base": -1049.25,
                                "vat": -157.39,
                                "total": -1206.64
                            }
                        ],
                        "disable_automated_mails": false,
                        "storno": false,
                        "moss": false,
                        "need_attention": false,
                        "url_public_webpage": "https://www.vyfakturuj.cz/print/document/2032367/b524f3/",
                        "url_online_payment": "https://www.vyfakturuj.cz/print/document/online-payment/2032367/b524f3/",
                        "url_download_pdf": "https://www.vyfakturuj.cz/print/document/pdf/2032367/b524f3/download/",
                        "url_download_pdf_no_stamp": "https://www.vyfakturuj.cz/print/document/pdf/2032367/b524f3/nostamp/",
                        "url_app_detail": "https://app.vyfakturuj.cz/faktury/detail/2032367/",
                        "log": [
                            {
                                "date": "2021-02-10 06:34:33",
                                "text": "Vytvořen opravný doklad k {vfiid:2032366:FA 20210049}. "
                            },
                            {
                                "date": "2021-02-10 06:34:33",
                                "text": "Vytvoření dokumentu."
                            }
                        ]
                    }
                }
            }



## Smazání faktury [/invoice/{id}/]

### Smazání faktury [DELETE]

+ Request (application/json)

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            {
                "status": "ok",
                "message": "Deleted"
            }


## Vyhledávání [/invoice/]


### Vyhledávání [GET]

Systém vrací prvních 100 záznamů.<br/>
Pro přístup k dalším záznamům lze použít parametr <code>rows_offset</code>, který určuje, kolik dokladů se má přeskočit.<br/>
<b>POZOR:</b> Tato funkce bude v budoucnu omezena na 25 záznamů. Doporučujeme s tím počítat v návrhu již dopředu.

+ Request (application/json)

+ Response 200 (application/json)

    + Headers

            Access-Control-Allow-Origin: *

    + Body

            [
                {
                    "id": "2032366",
                    "id_identity": "0",
                    "id_customer": "-1",
                    "id_number_series": "28437",
                    "id_payment_method": "33662",
                    "id_center": "0",
                    "id_predkontace": "0",
                    "id_cleneniDPH": "0",
                    "id_coupon": "0",
                    "id_parent": "0",
                    "id_eet_pokl": "0",
                    "type": "1",
                    "flags": "3",
[...]
